[Unit]
Description=Fix GPU after waking up from suspension
After=suspend.target

[Service]
User=root
Type=oneshot
# Sleep is because we want to ensure fastest wake up
ExecStart=/usr/bin/bash -c "sleep 2 && echo 1 > /sys/bus/pci/rescan"
TimeoutSec=0

[Install]
WantedBy=suspend.target
